---
title: Henry Alpert's Portfolio
---

<!-- ******************** -->
  <!-- ** Headshot image ** -->
  <!-- ******************** -->

  <div class="container-fluid">
    <div class ="row" style="padding-top: 25px">
      <div class="col-md-4">
        <img src="images/headshot.jpg" id="profilepic">
      </div>
      <div class="col-md-6" style="margin-top: -20px">
        <h1 id="title-name">Henry Alpert</h1>
        <div style="position: relative;">
          <a href="https://www.linkedin.com/in/henryalpert/" target="_blank"><i class="fa fa-linkedin fa-border fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/henryalpert/" target="_blank"><i class="fa fa-github fa-border fa-2x" aria-hidden="true"></i></a>
          <!-- !!!!!!!!!!!!!!! Add Git hub link -->
          <a href="https://www.linkedin.com/in/henryalpert/" target="_blank"><i class="fa fa-twitter fa-border fa-2x" aria-hidden="true"></i></a>
          <!--!!!!!!!!!!!!!!!!!! Add Twitter link -->
        </div>
      </div>


      <!-- ********************* -->
      <!-- ** far right column (top) **-->
      <!-- ******************** -->
      <div class="col-md-2" id="programming-writing">
        <h2>Programming</h2>
        <h2>Writing</h2>

      </div>
    </div>

    <!-- ******************************************************************************* -->
    <!-- ************************* Body ************************************************ -->
    <!-- ******************************************************************************* -->

    <!-- ******************** -->
    <!-- ** Under headshot  ** -->
    <!-- ******************** -->


      <div class ="row">
        <div class="col-md-4" style="padding-top: 15px;  padding-right: 50px; ">
          <p>
            Henry Alpert is an experienced marketing writer and consultant moving on to programming. He is taking a class with Tech Talent South and learning a lot!
          </p>
        </div>



        <!-- ****************** -->
        <!-- ****** Body ****** -->
        <!-- ****************** -->
        <!-- - - - - - - - -  -->


        <div class="col-md-8" style="float: right;">
          <div class="well" style="padding: 100px">Blog</div>
          <div class="well" style="padding: 100px">Blog</div>
          <div class="well" style="padding: 100px">Blog</div>
        </div>
      </div>







